@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: Inter;
    margin-left:10px;
}
#keeping {
    font-weight: 100;
    font-size: 60px;
}
#watch {
    font-weight: 700;
    font-size: 70px; 
}
.undertekst1{
    color: darkgrey; 
}
blockquote {
    margin-left:0px;
    font-size: 10px;
}
.paragraf1 {
    width: 35%;
}
.innledningstittel {
    font-weight: 30;
}
.paragraf2 {
    width:35%;
}
.paragraf3 {
    margin-right: 30px;
    width:35%; 
}
